<div class="jumbotron">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">
    <h3>
        Available Books
    </h3>
    <% users.forEach(function (user) { %>
        <ul>
            <h5><b><%= user.name%></b> --- <%= user.email%></h5>
            <%= user.books %>
            <br>
        </ul>
    <% }); %>
    </p>
    <br>
    <a href="/donated" class="btn btn-secondary" >My Donated Books</a>
    <br>
    <br>
    <a href="/users/logout" class="btn btn-secondary" >Logout</a>
    <br>
    <br>
</div>
